<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Nombres:<%= Name %></p>
    <p>Apellidos:<%= Lastname %></p>
    <p>C.I:<%= Id %></p>
    <p>Seccion:<%= section %></p>
  </body>
</html>